<div *ngIf="isLoading" class="loading-overlay">
    <div class="loading-spinner"></div>
    <p>Loading todo...</p>
</div>


<div *ngIf="!isLoading" class="container">

    <div class="top-nav">
        <button class="link-btn" routerLink="/todo">← </button>
    </div>

    <h1>{{ isEditMode ? 'Update Todo' : 'Create Todo' }}</h1>

    <form (ngSubmit)="submitTodo()">

        <input type="text" name="title" placeholder="Title" [(ngModel)]="title" required />

        <input type="text" name="description" placeholder="Description" [(ngModel)]="description" required />

        <label>
            <input type="checkbox" name="isCompleted" [(ngModel)]="isCompleted" />
            Is Completed
        </label>

        <div class="actions">
            <button type="submit" [disabled]="isSubmitting">
                {{ isEditMode ? 'Update' : 'Create' }}
            </button>

            <button type="button" class="cancel" (click)="cancel()">Cancel</button>
        </div>
    </form>
</div>